In [4]:
from shapely import wkb, wkt
from shapely.geometry import mapping
import geopandas as gpd

def parse_geometry(x):
    if x is None:
        return None
    if isinstance(x, bytes) or isinstance(x, bytearray):
        try:
            return wkb.loads(bytes(x))
        except:
            return None
    if isinstance(x, list):
        try:
            return wkb.loads(bytes(x))
        except:
            return None
    if isinstance(x, str):
        try:
            return wkt.loads(x)
        except:
            return None
    return None

In [5]:
import pandas as pd 

file = "C:/Users/manat/Documents/Projects/mtlBiodiversity/data/processed/qrt_eco.parquet"

df = pd.read_parquet(file)

In [7]:
df['geometry'] = df['geom'].apply(parse_geometry)
gdf = gpd.GeoDataFrame(df, geometry='geometry', crs="EPSG:4326")
gdf.head()

,qrt_id,qrt_name,geom,observations,species_richness,shannon_index,simpson_index,genus_richness,family_richness,order_richness,class_richness,phylum_richness,geometry
0,01,Cartierville,b'\x05\x04\x00\x00\x00\x00\x00\x00\xbe\x85\x93...,840,336,5.384320,0.992898,297,169,68,19,8,None
1,02,Nouveau-Bordeaux,b'\x05\x04\x00\x00\x00\x00\x00\x00\xf4k\x93\xc...,180,124,4.597429,0.986299,116,83,42,11,6,None
2,03,Nicolas-Viel,b'\x02\x04\x00\x00\x00\x00\x00\x00\xb9b\x93\xc...,205,127,4.618419,0.986227,120,78,39,10,5,None
3,04,Sault-au-Récollet,b'\x02\x04\x00\x00\x00\x00\x00\x00\x98Z\x93\xc...,368,189,4.917564,0.988433,178,108,53,15,7,None
4,05,Saint-Sulpice,b'\x02\x04\x00\x00\x00\x00\x00\x00\xe8O\x93\xc...,808,371,5.467602,0.992577,324,170,67,17,7,None