In [1]:

import duckdb
file = "C:/Users/manat/Documents/Projects/mtlBiodiversity/data/db/mtlbio.duckdb"

In [8]:
con = duckdb.connect(file)
df_grid = con.execute("SELECT * from grid_sjoin").df()
df_raw = con.execute("SELECT * from gbif_raw").df()
#df.head()

In [9]:
df_raw.head(1)

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,...,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue,geom,minx,miny,maxx,maxy
0,2648800226,14d5676a-2c54-4f94-9023-1e8dcd822aa0,q-10099696519,Plantae,Tracheophyta,Magnoliopsida,Sapindales,Anacardiaceae,Rhus,Rhus typhina,...,None,None,2025-09-19 08:39:33.232000-04:00,None,COORDINATE_ROUNDED;COUNTRY_DERIVED_FROM_COORDI...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",-73.583807,45.525228,-73.583807,45.525228

In [15]:

grid_id = 34294
df_ids = df_grid.loc[df_grid['grid_id'] == grid_id]
df_ids.head(1)

,gbifID,occurrenceID,kingdom,phylum,class,order,family,genus,species,taxonRank,...,recordedBy,issue,publishingOrgKey,coordinateUncertaintyInMeters,grid_id,minx,miny,maxx,maxy,geom
6772,4507879014,https://www.inaturalist.org/observations/19510...,Animalia,Arthropoda,Insecta,Lepidoptera,Crambidae,Crambus,Crambus praefectellus,SPECIES,...,robert_thibault,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...,28eb1a3f-1c15-4a95-931a-4af90ecb574d,1.0,34294.0,-73.607778,45.594562,-73.605185,45.596134,"[2, 4, 0, 0, 0, 0, 0, 0, 47, 55, 147, 194, 212..."

In [11]:
df_filtered = df_raw.merge(df_ids, on='gbifID', how='inner')

df_filtered.shape

(1534, 82)

In [14]:
df_filtered.head(1)

,gbifID,datasetKey,occurrenceID_x,kingdom_x,phylum_x,class_x,order_x,family_x,genus_x,species_x,...,recordedBy_y,issue_y,publishingOrgKey_y,coordinateUncertaintyInMeters_y,grid_id,minx_y,miny_y,maxx_y,maxy_y,geom_y
0,4507879014,50c9509d-22c7-4a22-a47d-8c48425ef4a7,https://www.inaturalist.org/observations/19510...,Animalia,Arthropoda,Insecta,Lepidoptera,Crambidae,Crambus,Crambus praefectellus,...,robert_thibault,COORDINATE_ROUNDED;CONTINENT_DERIVED_FROM_COOR...,28eb1a3f-1c15-4a95-931a-4af90ecb574d,1.0,34294.0,-73.607778,45.594562,-73.605185,45.596134,"[2, 4, 0, 0, 0, 0, 0, 0, 47, 55, 147, 194, 212..."

In [16]:
df_filtered.to_csv(f'grid_{grid_id}_test.csv')

In [17]:
con.close()